.title {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

#main-container{
 display: flex;
 padding: 10px;
 border-radius: 20px;
 align-items: center;
 background-color: #D2D2D2;
}

#parent{
  border-radius: 20px;
  background-color: #D6E1EE;
}

.draggable{
  border-radius: 10px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 70px;
  font-size: 17px;
  color: whitesmoke;
  text-decoration: underline;
  background-color: #ED6A5A;
  border-radius: 20px;
  border: none;
  margin: 10px;
}

.button:hover{
  box-shadow: 10px 12px 0.5rem rgba(124, 130, 223, 0.5);
  filter: saturate(180%);
  cursor: pointer;
}
